In [3]:
import pandas as pd

In [4]:
#import csv
schools_csv= "Resources/schools_complete.csv"

schools_df=pd.read_csv(schools_csv)
schools_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
students_csv="Resources/students_complete.csv"

students_df=pd.read_csv(students_csv)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
#Table 1
#District Summary:
#Total Schools
total_schools= schools_df["School ID"].count()

print(total_schools)

15

In [7]:
#Total Students
total_students=schools_df["size"].sum()

print(total_students)

39170

In [8]:
#Total Budget
total_budget=schools_df["budget"].sum()

print(total_budget)

24649428

In [9]:
#Average Math Score district
math_score= round(students_df["math_score"].mean(),2)

print(math_score)

78.99

In [10]:
# Average Reading School
reading_score=students_df["reading_score"].mean()

print(reading_score)

81.87784018381414

In [11]:
# Percent passing Math

passing_students=students_df["math_score"][students_df["math_score"] >=70]

In [12]:
pass_math=passing_students.count()
percent_passing_math= pass_math/(total_students)*100

print(percent_passing_math)

74.9808526933878

In [13]:
#Percent Passing Reading

passing_studentsr=students_df["reading_score"][students_df["reading_score"] >=70]
pass_reading=passing_studentsr.count()
percent_passing_reading= pass_reading/(total_students)*100

print(percent_passing_reading)

85.80546336482001

In [27]:
#percent overall passing

percent_overall_passing= students_df[(students_df["math_score"]>=70) & (students_df["reading_score"] >=70)].count()["school_name"]
percent_overall_passing

25528

In [30]:
overall= (percent_overall_passing/ total_students) *100
overall

65.17232575950983

In [15]:
#Print
summary_df= pd.DataFrame({"Total Schools": [total_schools],
                         "Total Students": [total_students],
                         "Total Budget":total_budget,
                         "Average Math Score": math_score,
                         "Average Reading Score": reading_score,
                         "Percent Passing Math": percent_passing_math,
                         "Percent Passing Reading": percent_passing_reading})

summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading
0,15,39170,24649428,78.99,81.87784,74.980853,85.805463

In [ ]:
school_type= schools_df

In [16]:
#Table 2
#School Table
#School Name
school_name= schools_df["school_name"]

print(school_name)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [17]:
#School Type
school_type= schools_df["type"]

print(school_type)

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [18]:
#Total Students
total_students_two= schools_df["size"]

print(total_students_two)

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [19]:
#Total School Budget
school_budget= schools_df["budget"]

In [24]:
#Average Math Score
#if schools_df["school_name"]= students_df["school_name"]:
    #(students_df["math_score"].mean())

#unique_schools= students_df["school_name"].unique()

#unique_schools.(students_df["math_score"].mean())

SyntaxError: invalid syntax (<ipython-input-24-8a4faf0dc2a3>, line 7)

In [ ]:
#Average Reading Score

In [ ]:
#Percent Passing Math

In [ ]:
#Percent Passing Reading

In [ ]:
#Overall Percent passing

In [ ]:
#Table 3
#Top 5 peforming Schools
#Table two Information

In [ ]:
#Table 4
#Bottom Schools
#Table 2 Information

In [ ]:
#Table 5
#Average Math Scores by grade
#9th, 10th, 11th, 12th

In [ ]:
#Table 6
#Average Reading Scores by Grade
#9th, 10th, 11th, 12th

In [ ]:
#Table 7
#School Spending
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:

#Average Math Score
#Average Reading Score
#% Passing Math (The percentage of students that passed math.)
#% Passing Reading (The percentage of students that passed reading.)
#% Overall Passing (The percentage of students that passed math and reading.)

In [ ]:
#Table 8
#Score by School Size
#Repeat the above breakdown, but this time group schools based on a reasonable approximation of school size (Small, Medium, Large).

In [ ]:
#Table 9
#Scores by School Type
#Repeat the above breakdown, but this time group schools based on school type (Charter vs. District).